.navbar-nav .nav-item {
    margin-right: 2em;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    &:last-child {
      margin-right: 0; // Remove the margin for the last item to avoid extra spacing at the end
    }
}
  
.navbar-nav .nav-item .nav-link {
    background-color: $primary-color; // The color from your button
    color: $white !important;
    border-radius: 5em; // Border radius to match your button
    padding: 0.5em 2em; // Padding to match the size of your button
    display: inline-block;
    
    // Smooth transition for hover effects and background color
    transition: transform 0.3s ease;
  
    &:hover {
      transform: scale(1.1); // Scale up the button to 110% of its original size
    }
}
  
  
  @media only screen and (max-width: 768px) {
    .navbar-toggler {
        display: none;
    }
    .navbar-nav .nav-item {
        margin-right: 0.1rem; /* Further reduce margin */
        padding: 0.1rem; /* Reduce padding */
        margin-left: auto;
    }

    .navbar-nav .nav-item .nav-link {
        font-size: 0.50rem; /* Reduce font size */
        padding: 0.5rem 0.6rem; /* Adjust padding */
        text-align: right;
    }

    .navbar-nav {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    .navbar-nav .nav-item.less-important {
        display: none;
    }

    .navbar {
        height: auto;
    }
}
